@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
  --hover-nav-color: #394354;
  --camera: #0404fb;
  --camera-hover: #f74e16;
  --join-link: #8b5151;
  --white: #fff;
  --dark-90: rgb(14, 35, 56);
  --white-90: #efe7e7;
}

body{
  height: 100vh;
  overflow: hidden;
  background: var(--hover-nav-color) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

/* Image style of home page */
.detail-image-wrapper {
  background: linear-gradient(to right, #ffefeb, #d5eaf6, #c6d9ff, #e3f9d0);

  border: 1px solid #ffabab;
  border-radius: 100%;
  height: 134px;
  width: 134px;
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.navbar:nth-of-type(2){
  border: 1px solid black;
  display: none;
}

[data-camera] {
  position: absolute;
  color: var(--camera);
  cursor: pointer;
  bottom: 0.55rem;
}

[data-camera]:hover {
  color: var(--camera-hover);
}

#file {
  visibility: hidden;
  display: none;
}

.rounded-3:not(.active) {
  font-weight: 600;
}

.rounded-3:not(.active):hover {
  color: var(--white);
}

.Detail-card {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 12px 4px var(--dark-90);
}

.card,
.card .list-group-item {
  background: var(--white-90) !important;
}

.join-link {
  text-decoration: none;
  color: var(--join-link);
}

.theGuy {
  color: var(--camera);
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: var(--camera-hover);
  text-decoration-style: wavy;
}

.theGuy:hover {
  color: var(--camera-hover);
}


.chats {
  position: relative;
  top: 0.5rem;
  height: 100%;
  overflow-y: scroll;
  max-width: 60rem;
  margin: 1rem auto;
  display: grid;
  grid-template-rows: 1fr 2rem;
  grid-template-columns: 60%;
  row-gap: 1.5rem;
  padding: 2rem 1rem;
  background: var(--dark-90);
  box-shadow: 0 0 3px 1px var(--white-90);
  justify-content: space-around;
  border-radius: 1rem;
}
.chats.roomProfile{
  height: calc(100vh - 6rem);
}

.chats.navActive{
  top: 0;
  height: calc(100vh - 6rem);
}

.chats .roomName{
  top: 1rem;
  left: 1rem;
}

.chats .exit-room{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

}

.chats .all-chat{
  position: relative;
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
}

.all-chat span{
  color: var(--camera-hover);
}

.all-chat .user-join-exit{
  position: absolute;
  top: 10%;
  right: 0%;
  max-width: 6rem;
  width: 100%;
  font-size: smaller;
}

.all-chat .chat-message{
  display: flex;
  flex-direction: column;
  position: relative;
}

.all-chat .chat-message.mine{
  align-items: flex-end;
  margin-left: 25%;
  height: max-content;
}
.all-chat .chat-message.mine .text{
  padding-right: 10px;
}

.all-chat .chat-message.mine .message{
  text-align: start;
  width: auto;
  padding: 2px 0.75rem;
}
.all-chat .chat-message .messageBy{
  position: absolute;
  bottom: -1.3rem;
  font-size: 12px;
  border-radius: 0.4rem;
}

.all-chat .chat-message.others{
  margin-right: 25%;
}
.all-chat .chat-message.others .text{
  align-items: flex-start;
  text-align: left;
  padding-left: 10px;
}
.all-chat .chat-message.others .message{
  text-align: start;
  width: fit-content;
  padding: 2px 0.75rem;
}
.others .messageBy{
  left: 0;
}

.all-chat .message{
  width: 100%;
  /* text-overflow: clip; */
  background-color: var(--camera-hover);
  border-radius: 1rem;
  z-index: 2;
}
.all-chat .messageBy{
  background-color: rgb(33, 80, 126);
  padding: 0 0.7em;
  
}

.chats .chat-field {
  max-width: 35em;
  margin: auto;
}


.chat-field #send-out {
  font-size: 1.5rem;
  color: var(--camera-hover);
  background-color: var(--white-90);
}

@media screen and (max-width: 60rem) {
  .container{
    flex-direction: column;
    justify-content: center;
  }
  .nav-items{
    margin: auto;
  }
  .chats{
    margin: 0;
    height: 100vh;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    
  }
  .chats.navActive{
    height: calc(100vh - 8rem);
  }
}